
body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 100%;
}

.top-left-popup {
            position: absolute;
            top: 10px; /* Adjust to position it in the top-left corner */
            left: 10px;
            background: white;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
            z-index: 1000; /* Ensure it appears above the map */
            width: 200px; /* Adjust as needed */
            height: auto;
            max-height: 200px;
            overflow-y: auto;
            font-family: 'Helvetica', sans-serif; /* Set font to Helvetica */
            font-size: 12px; /* Change font size */
        }

.top-left-popup ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 0; /* Remove default padding */
}

.top-left-popup li {
    margin-bottom: 5px; /* Optional: Add some spacing between list items */
}